.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: red;
}

.errorInput {
  border: red 1px solid;
}

.activeFilter {
  background-color: aquamarine;
  outline: none;
}

.isDone {
  opacity: 0.5;
}