h3 {
  display: inline;
}

.task {
  display: flex;
  justify-content: space-between;
}

.taskDone {
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  text-decoration: line-through;
  color: darkorchid;
}







